---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import PresTeamCard from "../components/PresTeamCard.astro";
import ColourMemberCard from "../components/ColourMemberCard.astro";
import WhiteMemberCard from "../components/WhiteMemberCard.astro";
import { parse } from "csv-parse/sync";
import fs from "fs";
import path from "path";

type TeamMember = {
  name: string;
  roles: string[];
  primaryRole: string;
  description: string;
  imageSrc: string;
  contact: {
    linkedin?: string;
    email?: string;
    website?: string;
  };
};

async function csvToJson(): Promise<TeamMember[]> {
  const csvPath = path.resolve("./src/data/team.csv");
  const csv_data = fs.readFileSync(csvPath, "utf-8");

  const team = parse(csv_data, {
    columns: [
      "name",
      "role",
      "description",
      "imageSrc",
      "linkedIn",
      "email",
      "website",
      "photo",
      "unused",
    ],
    from_line: 2,
    skip_empty_lines: true,
    on_record: (member) => {
      const contact = {
        linkedin: member.linkedIn,
        email: member.email,
        website: member.website,
      };

      const roles = member.role
        ? member.role.split(",").map((r) => r.trim())
        : [];

      return {
        name: member.name,
        roles,
        primaryRole: roles[0] || "",
        description: member.description,
        imageSrc:
          member.photo && member.photo.trim() !== ""
            ? member.photo
            : "https://static.igem.wiki/teams/5708/headshot/mystiphage.webp",
        contact: contact,
      };
    },
  });

  return team;
}

const team = await csvToJson();

const co_presidents = team.filter((m) =>
  m.primaryRole.toLowerCase().includes("president")
);
const wet_lab_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("wet lab"))
);
const dry_lab_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("dry lab"))
);
const finance_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("finance"))
);
const hardware_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("hardware"))
);
const ent_members = team.filter((m) =>
  m.roles.some((r) => {
    const role = r.toLowerCase();
    return (
      role.includes("entrepreneurship") || role.includes("entrepeneurship")
    );
  })
);
const hp_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("human practices"))
);
const outreach_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("outreach"))
);
const wiki_members = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("wiki"))
);
const advisor = team.filter((m) =>
  m.roles.some((r) => r.toLowerCase().includes("advisor"))
);
---

<Layout footerBg="linear-gradient(180deg, #498da1, #bec4c6, #bec4c6)">
  <div slot="content">
    <h1 class="text-10xl font-bold text-white text-center mb-4">
      Meet the team!
    </h1>

    <h5 class="text-center">Co-Presidents</h5>
    <div class="flex flex-wrap justify-center gap-6 mb-4">
      {
        co_presidents.map((member) => (
          <PresTeamCard
            name={member.name}
            description={member.description}
            image={member.imageSrc}
            contact={{
              linkedin: member.contact.linkedin,
              email: member.contact.email,
              website: member.contact.website,
            }}
            roles={member.roles}
          />
        ))
      }
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Wet Lab</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          wet_lab_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Dry Lab</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          dry_lab_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Hardware</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          hardware_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Finance</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          finance_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Entrepreneurship</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          ent_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Human Practices</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          hp_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Outreach</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          outreach_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg mb-4">
      <h5 class="text-center">Wiki</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          wiki_members.map((member) => {
            const isLead = member.primaryRole
              .toLowerCase()
              .trim()
              .endsWith("lead");
            return isLead ? (
              <ColourMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            ) : (
              <WhiteMemberCard
                name={member.name}
                description={member.description}
                roles={member.roles}
                image={member.imageSrc}
                contact={{
                  linkedin: member.contact.linkedin,
                  email: member.contact.email,
                  website: member.contact.website,
                }}
              />
            );
          })
        }
      </div>
    </div>

    <div class="bg-opacity-50 p-4 rounded-lg">
      <h5 class="text-center">Advisors</h5>
      <div class="flex flex-wrap justify-center gap-6 mb-4">
        {
          advisor.map((member) => (
            <ColourMemberCard
              name={member.name}
              description={member.description}
              roles={member.roles}
              image={member.imageSrc}
              contact={{
                linkedin: member.contact.linkedin,
                email: member.contact.email,
                website: member.contact.website,
              }}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
